@model IEnumerable<TimesheetMobileBackEndApi.ViewModels.HoursPerWorkAssignmentModel>

@{
    ViewBag.Title = "HoursPerWorkAssignment";
}

<h2>HoursPerWorkAssignment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<a href="~/Reports/HoursPerWorkAssignmentAsExcel" class="w3-btn w3-large">Export to Excel</a>
<a href="~/Reports/HoursPerWorkAssignmentAsExcel2" class="w3-btn w3-large">Export Hours Per Work Assignment to Excel</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_WorkAssignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkAssignmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_WorkAssignment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkAssignmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
