@model IEnumerable<TimesheetMobileBackEndApi.ViewModels.TimesheetsViewModel>

@{
    ViewBag.Title = "Timesheets";
}

<h2>Timesheets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Timesheet)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedAt_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Timesheet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedAt_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id_Timesheet }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id_Timesheet }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_Timesheet })
        </td>
    </tr>
}

</table>
